@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(http://fonts.googleapis.com/css?family=Karla);


$grey: #818286;
$lightGrey: #AFB0B3;

/* Nav Bar*/


ul.right-nav {
	
	float: right;
	list-style-type: none;
	font-family: "Karla";
	font-size: 1.1em;
	
	a {
		color: $grey;
	}
	li.divider-vertical {
		margin-top: 2px;
  		height: 30px;
  		background-color: #ffffff;
  		border-right: 1px solid $lightGrey;
	}
}

.navi-inner {
	background: white;
	height: 90px;
	border-bottom: 4px solid white;
	.navi {
		position: relative;
		margin-top: 55px;
	}

	.logo-div {
		margin-top: -55px;
	}
	
	#logo {
		float: left;
		margin-top: 11px;
	}

	#nav-contact {
		float: right;
	}
	
	.nav-link {
		font-family: "Karla";
		font-size: 1.5em;
		text-align: center;
		a {
			color: $grey;
			letter-spacing: .05em;
		}
	}

	#logo-div{
		position: relative;
		margin-top: -30px;
		margin-left: 20px;
	}

	#contact-div{
		position: relative;
		margin-top: -30px;
		margin-left: 20px;
	}
}	




/* Display an object */
.show{
	background: #000000;
 
}